<ul>
  <% @events.each do |event| %>
    <li>
      <strong>
        <%= event.name %>
      </strong>
      in <%= event.location %>: 
      <%= price(event) %>
      <p>
        <%= truncate(event.description, length: 35, separator:' ')  %>
      </p>
      <p>
        <%= day_and_time(event) %>
      </li>
    <% end %>
  </ul>